@font-face {
  font-family: 'Futura PT Book';
  src: url('fonts/FuturaPT-Book.woff2') format('woff2'),
  url('fonts/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('fonts/FuturaPT-Bold.woff2') format('woff2'),
  url('fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('fonts/FuturaPT-Light.woff2') format('woff2'),
  url('fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('fonts/FuturaPT-Medium.woff2') format('woff2'),
  url('fonts/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  background-color: #f9f8f8;
  color: #333;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1350px;
  padding: 0 30px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  padding: 15px 48px;
  display: inline-block;
  vertical-align: baseline;
  background: #333333;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  border: none;
}

/* HEADER */
.header-top {
  background-color: #F9F8F8;
  border-bottom: 1px solid #f0eded;
}

.header-top-wrapper {
  display: flex;
  align-items: center;
  padding-left: 160px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.main-adress {
  font-style: normal;
}

.tel-list, .scedule {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.tel-list {
  margin-left: auto;
  margin-right: auto;
}

.tel-list a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  vertical-align: baseline;
}

.tel-list li {
  margin-right: 10px;
}

.scedule li:nth-child(1) {
  margin-right: 17px;
}

.main-adress::before, .scedule::before, .tel-list::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 13px;
  margin-right: 10px;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-adress::before {
  background-image: url("../img/home.svg");
}

.scedule::before {
  background-image: url("../img/schedule.svg");
}

.tel-list::before {
  background-image: url("../img/phone.svg");
}

.tel-list li {
  display: flex;
  align-items: center;
}

.tel-list li:nth-child(2)::before, .tel-list li:nth-child(3)::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 10px;
  background-color: #FFBD54;
  border-radius: 50%;
}

.sitenav {
  background-color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #f0eded;
}

.sitenav-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}

.navlist {
  padding: 0;
  margin: 0;
  margin-left: 150px;
  padding-left: 140px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navlist li {
  padding: 20px;
  display: flex;
  align-items: center;
}

.navlist a{
  color: #333;
  text-decoration: none;
}

.active-nav::before, .question::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;

}

.active-nav::before {
  background-image: url("../img/active.svg");
}

.question::before {
  background-image: url("../img/pet-sm.svg");
  background-size: cover;
}

.question {
  margin-left: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 20px;
}

/* HERO */
.hero {
  background-image: url("../img/left-pet.png"), url("../img/pet-right.png");
  background-repeat: no-repeat;
  background-position: 0px -80px, 100% 480px;
  padding-bottom: 100px;
}

.navlist li:hover {
  background-color: #FFBD54;
}

.question:hover {
  background-color: #333;
  color: #fff;
}

.btn:hover {
  background-color: #FFBD54;
}

.btn-light:hover {
  background-color: #333;
}

.hero-content {
  padding: 153px 0 300px 0;
  margin-left: auto;
  width: 590px;
}

.hero-content h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 64px;
  color: #000;
  width: 590px;
  margin-bottom: 30px;
}

.hero-content span {
  color: #78C0DE;
}

.hero-content p {
  font-size: 16px;
  line-height: 27px;
  color: #949494;
  width: 480px;
}

/* QUOTE */

.quote-section {
  margin: 100px 0;
}

.divider {
  border: none;
  width: 140px;
  background-color: #DBDBDB;
  height: 2px;
}

.quote {
  padding: 0;
  margin: 0;
  width: 753px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #949494;
  display: flex;
  padding: 40px 0 0 0;
}

.quote::before, .quote::after {
  content: "";
  width: 144px;
  height: 90px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.quote::before {
  background-image: url("../img/topper-quote.svg");
  margin-top: -50px;
}

.quote::after {
  background-image: url("../img/lower-quote.svg");
  margin-top: 100px;
}

.divider-second {
  margin-top: -50px;
}

.quote-section p {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin-top: 30px;
}

.services-section {
  margin: 150px 0;
}

.services-section h2 {
  text-align: center;
  font-size: 40px;
  line-height: 20px;
  margin-bottom: 40px;
}

.slider-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
  padding: 43px;
}

.slider-list li a {
  width: 193px;
  flex-shrink: 0;
  background-color:#fff;
  border-radius: 5px 5px 0px 0px;
}

.slider-list li:not(:last-child) {
  margin-right: 15px;
}

.slider-list a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.slider-list p {
  font-size: 18px;
  line-height: 22px;
  width: 126px;
  height: 145px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-list li p::before{
  content: "";
  display: inline-block;
  width: 72px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.slider-list li:nth-child(1) p::before {
  background-image: url("../img/doctor\ 1.svg");
}

.slider-list li:nth-child(2) p::before {
  background-image: url("../img/owner-dog.svg");
}

.slider-list li:nth-child(3) p::before {
  background-image: url("../img/dog.svg");
}

.slider-list li:nth-child(4) p::before {
  background-image: url("../img/skin-dog.svg");
}

.slider-list li:nth-child(5) p::before {
  background-image: url("../img/lab.svg");
}

.slider-list li:nth-child(6) p::before {
  background-image: url("../img/plus-dog.svg");
}

.slider-wrapper {
  position: relative;
  z-index: 1;
}

.right {
  position: absolute;
  z-index: 1;
  display: inline-block;
  vertical-align: baseline;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.left {
  position: absolute;
  z-index: 1;
  display: inline-block;
  vertical-align: baseline;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  margin-left: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

.services-bottom {
  margin: 0 18px 0 37px;
  padding: 41px;
  background-color: #fff;
}

.services-bottom-content {
  display: flex;
}

.services-bottom-inner {
  width: 492px;
  margin-left: 60px;
}

.services-bottom-content::before {
  content: "";
  width: 500px;
  height: 332px;
  display: inline-block;
  background-image: url("../img/cat.jpg");
}

.btn-light {
  background-color: #FFBD54;
  margin-right: 20px;
}

.services-bottom h3 {
  font-size: 33px;
  line-height: 20px;
}

.services-bottom p {
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.be-aware {
  background-image: url("../img/dog-bg.png");
  background-repeat: no-repeat;
}

.sign-in-form {
  padding: 200px 0 200px 0;
  margin-left: 270px;
}

.sign-in-form h2 {
  font-size: 40px;
  line-height: 20px;
  color: #fff;
}

.sign-in-form input {
  padding: 18px 147px 18px 22px;
  margin-right: 22px;
  border-radius: 3px;
  border: 1px solid #aaa;
}

article {
  margin: 100px 0;
}

article h2 {
  font-size: 40px;
  line-height: 20px;
  text-align: center;
}

.articles {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 50px;
}

.articles li:nth-child(odd) {
  width: 305px;
}

.articles li:not(:last-child) {
  margin-right: 30px;
}

.articles li:nth-child(odd):before {
  content: "";
  width: 305px;
  height: 180px;
  display: inline-block;
  background-image: url("../img/Rectangle\ 27.png");
}


.articles li:nth-child(even) {
  display: flex;
}

.article-li-wrapper{
  width: 300px;
}
.articles li:nth-child(even)::before {
  content: "";
  width: 310px;
  height: 470px;
  display: inline-block;
  background-image: url("../img/Rectangle\ 25.png");
  background-repeat: no-repeat;

}


.date {
  font-size: 14px;
  line-height: 18px;
  color: #949494;
  text-align: end;
}

.article-li-wrapper {
  padding: 15px;
}

.articles-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hashtags {
  color: #3D9CEA;
  font-size: 14px;
  line-height: 22px;
}

.articles li a {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #333;
}

footer {
  background-color:#F3F3F3;
}

.footer-inner {
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 14px;
  line-height: 18px;
}

.footer-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 230px;
  display: flex;
  flex-direction: column;
  max-height: 100px;
  flex-wrap: wrap;
}

.footer-nav li {
  margin-right: 30px;
}

.footer-nav li:not(:last-child) {
  margin-bottom: 15px;
}

.footer-nav li:nth-child(3) {
  margin-bottom: 15px;
}

.footer-nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  white-space: nowrap;
}

.phone-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-inner .main-adress {
  max-width: 200px;
  display: flex;
  margin-left: 50px;
  line-height: 2.1;
}

.footer-inner .main-adress::before {
  display: block;
  margin-top: 8px;
}


.footer-inner .scedule li p {
  line-height: 2.1;
  margin: 0;
}

.footer-inner .scedule li {
  max-width: 120px;
}

.footer-inner .question {
  white-space: nowrap;
  margin-left: 60px;
  margin-right: 50px;
}

.phone-list {
  margin: 0;
  padding: 0;
}

.phone-list a {
  text-decoration: none;
  white-space: nowrap;
  line-height: 2.1;
  color: #333;
}

.phone::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/phone.svg");
  display: inline-block;
  background-size: 90%;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-top: 5px;
}

.phone {
  display: flex;
  margin-left: 50px;
}

.rights {
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #5C5C5C;
  display: block;
}

.map-form {
  background-color: #5C5C5C;
  width: 100%;
}

.map-section {
  display: flex;
  margin: 200px 0;
}

.map-section a {
  display: block;
  width: 40%;
}

.map-form {
  padding: 60px 0;
  padding-left: 160px;
}

.map-form h3 {
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 0;
}

.map-form p {
  font-size: 16px;
line-height: 20px;
color: #949494;
max-width: 360px;
}
.map-form form {
  width: 380px;
}

.map-form input {
  display: block;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

.map-form input placeholder {
  margin-top: 0;
}

.map-form input:last-of-type {
  display: inline-block;
  width: 226px;
  background-color: #FFBD54;
  border-radius: 0px;
}
.map-section a img {
  height: 100%;
  width: auto;
}
.map-form form input:nth-child(3) {
  height: 165px;
}

.map-form {
  background-image: url("../img/kisspng-goldfish-koi-clip-art-real-fish-png-clipart-5a7877e5873c15\ 1.png");
  background-repeat: no-repeat;
  background-position: 550px 200px;
}









