@font-face {
  font-family: 'Futura PT Book';
  src: url('fonts/FuturaPT-Book.woff2') format('woff2'),
      url('fonts/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('fonts/FuturaPT-Bold.woff2') format('woff2'),
      url('fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('fonts/FuturaPT-Light.woff2') format('woff2'),
      url('fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('fonts/FuturaPT-Medium.woff2') format('woff2'),
      url('fonts/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
